<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>La Boutique de Docstring</title>
</head>
<body>

{% if user.is_authenticated %}
    {{ user.username }}
    <a href="{% url 'logout' %}">Déconnexion</a>
{% else %}
    <a href="{% url 'login' %}">Connnexion</a>
    <a href="{% url 'signup' %}">S'inscrire</a>
{% endif %}

{% if user.cart %}
    <p>
        <a href="{% url 'cart' %}">Voir le panier ({{ user.cart.orders.count }})</a>
    </p>
{% endif %}

<a href="{% url 'index' %}">
    <h1>La boutique de MARIE</h1>
</a>

{% block content %}
{% endblock %}

</body>
</html>